.buildSection {
  margin-top: 200px;
  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    span {
      font-size: 170px;
      line-height: 170px;
      position: absolute;
      left: 0px;
      top: -50%;
      width: 100%;
      font-weight: 700;
      text-align: left;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.04);
      z-index: -1;
      transform: translate(0%, -30%);
    }
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: #8c8c8c;
  }
  .buildBackground {
    height: 500px;
    border-radius: 20px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 50px 0px;
    .buildBox {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 100%;
      .tit {
        width: 45%;
      }
      .txt {
        width: 45%;
        margin-left: auto;
        p {
          color: #ffffff;
        }
      }
    }
  }
}
