.contactFormSection {
  .contactBg {
    padding: 50px;
    border-radius: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .footerWapper {
      border-top: 2px solid rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 50px;
      margin-top: 50px;
      li {
        .footerInfo {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.45px;
          color: #ffffff;
          svg {
            width: auto;
            height: 20px;
            margin-right: 5px;
          }
          a {
            margin-top: 10px;
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.45px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .contactFormSection {
    .contactBg {
      padding: 40px;
      border-radius: 30px;
      .footerWapper {
        padding-top: 40px;
        margin-top: 40px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 20px;
            }
            a {
              margin-top: 10px;
              font-size: 17px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .contactFormSection {
    .contactBg {
      padding: 40px;
      border-radius: 30px;
      .footerWapper {
        padding-top: 40px;
        margin-top: 40px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 17px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .contactFormSection {
    .contactBg {
      padding: 40px;
      border-radius: 30px;
      .footerWapper {
        padding-top: 40px;
        margin-top: 40px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .contactFormSection {
    .contactBg {
      padding: 30px;
      border-radius: 20px;
      .footerWapper {
        padding-top: 30px;
        margin-top: 30px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .contactFormSection {
    .contactBg {
      padding: 20px;
      border-radius: 20px;
      .footerWapper {
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contactFormSection {
    .contactBg {
      padding: 20px;
      border-radius: 20px;
      .footerWapper {
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        li {
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .contactFormSection {
    .contactBg {
      padding: 20px;
      border-radius: 20px;
      .footerWapper {
        padding-top: 20px;
        margin-top: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        li {
          margin-bottom: 20px;
          .footerInfo {
            font-size: 16px;
            line-height: 20px;

            svg {
              height: 15px;
            }
            a {
              margin-top: 10px;
              font-size: 15px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}
